# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# Firebase / local secrets
.env
firebase_options.dart
google-services.json
GoogleService-Info.plist
serviceAccountKey.json

# IDE
.idea/
.vscode/

# Python
.venv/
.__pycache__/
*.pyc
